footer {
    width: 100%;
    background-color: #1a1a1a; 
    padding: 1.5rem 2rem; 
    box-sizing: border-box; 
    
    text-align: center;
    color: #b0b0b0; 
    font-size: 0.9rem;
    font-weight: 300;

    border-top: 1px solid #2c2c2c; 
}

footer p {
    margin: 0;  
}

footer p span {
    color: #ffaa00; 
    font-weight: 500;
}