*{
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: sans-serif;
}

body{
  background-color: rgba(126, 126, 126, 0.623);
}

a{
  text-decoration: none;
}

main{
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background: #868686;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}